<!--<?xml version="1.0" encoding="UTF-8" ?>-->
<!--<configuration>-->
<!--    <appender name="OpenTelemetryAppender" class="io.opentelemetry.instrumentation.logback.v1_0.OpenTelemetryAppender">-->
<!--        <encoder>-->
<!--            <pattern>%d{yyyy-MM-dd HH:mm:ss} %-5level %logger{36} - %msg%n</pattern>-->
<!--        </encoder>-->
<!--    </appender>-->

<!--    <root level="info">-->
<!--        <appender-ref ref="OpenTelemetryAppender" />-->
<!--    </root>-->

<!--    <logger name="com.kt.otelsdkspringboot01" level="info" additivity="false">-->
<!--        <appender-ref ref="OpenTelemetryAppender" />-->
<!--    </logger>-->
<!--</configuration>-->
